.single {
  margin: -8px 2px;
}

.emotion {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./emotions.png) no-repeat;
}

.emotion_emoji_287 {
  background-position: -0px -0px;
}

.emotion_emoji_12 {
  background-position: -24px -0px;
}

.emotion_emoji_14 {
  background-position: -48px -0px;
}

.emotion_emoji_15 {
  background-position: -72px -0px;
}

.emotion_emoji_16 {
  background-position: -96px -0px;
}

.emotion_emoji_17 {
  background-position: -120px -0px;
}

.emotion_emoji_19 {
  background-position: -144px -0px;
}

.emotion_emoji_20 {
  background-position: -168px -0px;
}

.emotion_emoji_22 {
  background-position: -192px -0px;
}

.emotion_emoji_23 {
  background-position: -216px -0px;
}

.emotion_emoji_26 {
  background-position: -240px -0px;
}

.emotion_emoji_27 {
  background-position: -264px -0px;
}

.emotion_emoji_28 {
  background-position: -0px -24px;
}

.emotion_emoji_29 {
  background-position: -24px -24px;
}

.emotion_emoji_30 {
  background-position: -48px -24px;
}

.emotion_emoji_33 {
  background-position: -72px -24px;
}

.emotion_emoji_34 {
  background-position: -96px -24px;
}

.emotion_emoji_49 {
  background-position: -120px -24px;
}

.emotion_emoji_50 {
  background-position: -144px -24px;
}

.emotion_emoji_51 {
  background-position: -168px -24px;
}

.emotion_emoji_52 {
  background-position: -192px -24px;
}

.emotion_emoji_68 {
  background-position: -216px -24px;
}

.emotion_emoji_69 {
  background-position: -240px -24px;
}

.emotion_emoji_71 {
  background-position: -264px -24px;
}

.emotion_emoji_72 {
  background-position: -0px -48px;
}

.emotion_emoji_73 {
  background-position: -24px -48px;
}

.emotion_emoji_74 {
  background-position: -48px -48px;
}

.emotion_emoji_75 {
  background-position: -72px -48px;
}

.emotion_emoji_76 {
  background-position: -96px -48px;
}

.emotion_emoji_85 {
  background-position: -120px -48px;
}

.emotion_emoji_87 {
  background-position: -144px -48px;
}

.emotion_emoji_88 {
  background-position: -168px -48px;
}

.emotion_emoji_89 {
  background-position: -192px -48px;
}

.emotion_emoji_94 {
  background-position: -216px -48px;
}

.emotion_emoji_95 {
  background-position: -240px -48px;
}

.emotion_emoji_96 {
  background-position: -264px -48px;
}

.emotion_emoji_97 {
  background-position: -0px -72px;
}

.emotion_emoji_100 {
  background-position: -24px -72px;
}

.emotion_emoji_103 {
  background-position: -48px -72px;
}

.emotion_emoji_107 {
  background-position: -72px -72px;
}

.emotion_emoji_108 {
  background-position: -96px -72px;
}

.emotion_emoji_115 {
  background-position: -120px -72px;
}

.emotion_emoji_121 {
  background-position: -144px -72px;
}

.emotion_emoji_123 {
  background-position: -168px -72px;
}

.emotion_emoji_136 {
  background-position: -192px -72px;
}

.emotion_emoji_138 {
  background-position: -216px -72px;
}

.emotion_emoji_139 {
  background-position: -240px -72px;
}

.emotion_emoji_143 {
  background-position: -264px -72px;
}

.emotion_emoji_147 {
  background-position: -0px -96px;
}

.emotion_emoji_148 {
  background-position: -24px -96px;
}

.emotion_emoji_149 {
  background-position: -48px -96px;
}

.emotion_emoji_155 {
  background-position: -72px -96px;
}

.emotion_emoji_159 {
  background-position: -96px -96px;
}

.emotion_emoji_163 {
  background-position: -120px -96px;
}

.emotion_emoji_165 {
  background-position: -144px -96px;
}

.emotion_emoji_170 {
  background-position: -168px -96px;
}

.emotion_emoji_274 {
  background-position: -192px -96px;
}

.emotion_emoji_277 {
  background-position: -216px -96px;
}

.emotion_emoji_279 {
  background-position: -240px -96px;
}

.emotion_emoji_280 {
  background-position: -264px -96px;
}

.emotion_emoji_13 {
  background-position: -0px -120px;
}

.emotion_emoji_290 {
  background-position: -24px -120px;
}

.emotion_emoji_291 {
  background-position: -48px -120px;
}

.emotion_emoji_292 {
  background-position: -72px -120px;
}

.emotion_emoji_293 {
  background-position: -96px -120px;
}

.emotion_emoji_295 {
  background-position: -120px -120px;
}

.emotion_emoji_296 {
  background-position: -144px -120px;
}

.emotion_emoji_299 {
  background-position: -168px -120px;
}

.emotion_emoji_303 {
  background-position: -192px -120px;
}

.emotion_emoji_308 {
  background-position: -216px -120px;
}

.emotion_emoji_310 {
  background-position: -240px -120px;
}

.emotion_emoji_320 {
  background-position: -264px -120px;
}

.emotion_emoji_321 {
  background-position: -0px -144px;
}

.emotion_emoji_324 {
  background-position: -24px -144px;
}

.emotion_emoji_334 {
  background-position: -48px -144px;
}

.emotion_emoji_340 {
  background-position: -72px -144px;
}

.emotion_emoji_341 {
  background-position: -96px -144px;
}

.emotion_emoji_342 {
  background-position: -120px -144px;
}

.emotion_emoji_343 {
  background-position: -144px -144px;
}

.emotion_emoji_344 {
  background-position: -168px -144px;
}

.emotion_emoji_345 {
  background-position: -192px -144px;
}

.emotion_emoji_346 {
  background-position: -216px -144px;
}

.emotion_emoji_348 {
  background-position: -240px -144px;
}

.emotion_emoji_349 {
  background-position: -264px -144px;
}

.emotion_emoji_351 {
  background-position: -0px -168px;
}

.emotion_emoji_352 {
  background-position: -24px -168px;
}

.emotion_emoji_353 {
  background-position: -48px -168px;
}

.emotion_emoji_355 {
  background-position: -72px -168px;
}

.emotion_emoji_356 {
  background-position: -96px -168px;
}

.emotion_emoji_357 {
  background-position: -120px -168px;
}

.emotion_emoji_358 {
  background-position: -144px -168px;
}

.emotion_emoji_359 {
  background-position: -168px -168px;
}

.emotion_emoji_360 {
  background-position: -192px -168px;
}

.emotion_emoji_361 {
  background-position: -216px -168px;
}

.emotion_emoji_362 {
  background-position: -240px -168px;
}

.emotion_emoji_363 {
  background-position: -264px -168px;
}

.emotion_emoji_369 {
  background-position: -0px -192px;
}

.emotion_emoji_370 {
  background-position: -24px -192px;
}

.emotion_emoji_371 {
  background-position: -48px -192px;
}

.emotion_emoji_372 {
  background-position: -72px -192px;
}

.emotion_emoji_373 {
  background-position: -96px -192px;
}

.emotion_emoji_381 {
  background-position: -120px -192px;
}

.emotion_emoji_384 {
  background-position: -144px -192px;
}

.emotion_emoji_394 {
  background-position: -168px -192px;
}

.emotion_emoji_426 {
  background-position: -192px -192px;
}

.emotion_emoji_427 {
  background-position: -216px -192px;
}

.emotion_emoji_428 {
  background-position: -240px -192px;
}

.emotion_emoji_429 {
  background-position: -264px -192px;
}

.emotion_emoji_430 {
  background-position: -0px -216px;
}

.emotion_emoji_431 {
  background-position: -24px -216px;
}

.emotion_emoji_432 {
  background-position: -48px -216px;
}

.emotion_emoji_433 {
  background-position: -72px -216px;
}

.emotion_emoji_434 {
  background-position: -96px -216px;
}

.emotion_emoji_435 {
  background-position: -120px -216px;
}

.emotion_emoji_458 {
  background-position: -144px -216px;
}

.emotion_emoji_0 {
  background-position: -168px -216px;
}

.emotion_emoji_1 {
  background-position: -192px -216px;
}

.emotion_emoji_2 {
  background-position: -216px -216px;
}

.emotion_emoji_3 {
  background-position: -240px -216px;
}

.emotion_emoji_4 {
  background-position: -264px -216px;
}

.xt-emotions-panel {
  position: absolute;
  overflow: hidden;
  z-index: 999;
  background-color: #ffffff;
  border: 1px solid #DDD;
  border-radius: 5px;
  // @include box-shadow(1px 1px 10px #dddddd);
  width: 380px;
  height: 255px;

  ul.xt-emotions {
    overflow: hidden;
    height: 234px;
    margin: 0;

    li.emo {
      float: left;

      &:last-child {
        clear: right;
      }

      a {
        display: block;
        text-decoration: none;
        padding: 4px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        &:hover {
          text-decoration: none;
          transform: scale(1.15);
        }
      }
    }

  }

  .xt-emotions-paging {
    .handler {
      font-size: 10px;
      margin: 0 5px;
      color: #dddddd;

      &.active {
        color: #9c9c9c;
      }
    }
  }

}